*,
body {
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

:root {
    --var-color: #272a35;
}

#serial_check {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    border: none;
    color: #555555;
    font-size: 8px;
    padding: 2px 5px;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

#game_container {
    display: grid;
}

#game_container>section {
    grid-column: 1;
    grid-row: 1;
}

#game_img_container {
    display: grid;
}

#game_img_container>img {
    grid-column: 1;
    grid-row: 1;
    height: 130%;
}

#game_img_greb {
    transform-origin: 51.25% 57.96%;
}

#game_img_rive {
    transform-origin: 29.28% 63.6%;
}